<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TalkTempo - Music Store{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
    {% block stylesheets %}{% endblock %}
</head>
<body class="bg-gray-50">
    {% include 'partials/header.html.twig' %}

    <main class="max-w-7xl mx-auto pt-24 px-6 pb-24">
        {% block content %}{% endblock %}
    </main>

    {% include 'partials/footer.html.twig' %}

    {% block javascripts %}{% endblock %}
    <script src="/js/music-player.js"></script>
</body>
</html>
