{% extends 'base.html.twig' %}

{% block title %}TalkTempo - Music Store{% endblock %}

{% block content %}
    <!-- Genre Tags -->
    <div class="flex space-x-4 mb-8">
        <span class="genre-tag">Rock</span>
        <span class="genre-tag">Jazz</span>
        <span class="genre-tag">Classical</span>
        <span class="genre-tag">Pop</span>
        <span class="genre-tag">Electronic</span>
    </div>
{% endblock %}
